<!-- views/partials/header.ejs -->

<!-- <nav> tag defines a set of navigation links -->
<!-- add role="navigation to help with accessbility" -->
<nav class="navbar navbar-default" role="navigation">
    <!-- rows must be placed within a .container (fixed-width) or .container-fluid (full-width) for proper alignment and padding -->
    <div class="container-fluid">
    
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
                EJS Is Fun
            </a>
        </div>
        
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
        
    </div>
</nav>